@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
}

@theme {
  --font-family-main: "obviously-regular";
  --font-family-h1: "obviously-cond";
  --font-size-content: 2.5rem;
  --font-size-para: 1.2rem;
  --font-size-h1: 20rem;
  --line-height-h1: 17rem;
  --background-color-violet: #9a8fe0;
}

@font-face {
  font-family: "obviously-regular";
  src: url(/ObviouslyVariable.woff2);
  font-weight: 300;
  font-stretch: 400%;
}

@font-face {
  font-family: "obviously-cond";
  src: url(/ObviouslyVariable.woff2);
  font-weight: 800;
  font-stretch: 200%;
}

@font-face {
  font-family: "obviously-cond-med";
  src: url(/ObviouslyVariable.woff2);
  font-weight: 800;
  font-stretch: 200%;
}
